parameters:
  level: 7
  paths:
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/tests
  ignoreErrors:
    # Untyped parameter for Twig version compatibility
    - '/Method class@anonymous\/tests\/View\/TwigViewIntegrationTest.php:380::load\(\) has parameter \$class with no typehint specified\./'

    # Ignore unchecked error returns
    -
      message: '/Parameter #1 \$path of function dirname expects string, string\|false given\./'
      path: %currentWorkingDirectory%/src/DependencyInjection/CompilerPass/AddPackageTemplatePathToTwigPass.php

    -
      message: '/Parameter #1 \$path of function dirname expects string, string\|false given\./'
      path: %currentWorkingDirectory%/tests/DependencyInjection/CompilerPass/AddPackageTemplatePathToTwigPassTest.php

    -
      message: '/Parameter #1 \$path of function dirname expects string, string\|false given\./'
      path: %currentWorkingDirectory%/tests/View/TwigViewIntegrationTest.php

    -
      message: '/Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::scalarNode\(\)\./'
      path: %currentWorkingDirectory%/src/DependencyInjection/Configuration.php

  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  treatPhpDocTypesAsCertain: false
