parameters:
  level: 8
  paths:
    - %currentWorkingDirectory%/DependencyInjection
    - %currentWorkingDirectory%/EventListener
    - %currentWorkingDirectory%/RouteGenerator
    - %currentWorkingDirectory%/Serializer
    - %currentWorkingDirectory%/Tests
    - %currentWorkingDirectory%/Twig
    - %currentWorkingDirectory%/View
    - %currentWorkingDirectory%/BabDevPagerfantaBundle.php
  ignoreErrors:
    -
      message: '/Parameter #1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension::processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Symfony\\Component\\Config\\Definition\\ConfigurationInterface\|null given\./'
      path: %currentWorkingDirectory%/DependencyInjection/BabDevPagerfantaExtension.php

    -
      message: '/Call to an undefined method Pagerfanta\\PagerfantaInterface::getIterator\(\)\./'
      path: %currentWorkingDirectory%/Serializer/Normalizer/PagerfantaNormalizer.php

    # Class conditionally used
    -
      message: '/Class Symfony\\Component\\HttpKernel\\Event\\GetResponseForExceptionEvent not found\./'
      path: %currentWorkingDirectory%/EventListener/ConvertNotValidCurrentPageToNotFoundListener.php

    -
      message: '/Class Symfony\\Component\\HttpKernel\\Event\\GetResponseForExceptionEvent not found\./'
      path: %currentWorkingDirectory%/EventListener/ConvertNotValidMaxPerPageToNotFoundListener.php

    -
      message: '/Class Symfony\\Component\\Translation\\TranslatorInterface not found\./'
      path: %currentWorkingDirectory%/View/TranslatedView.php

    -
      message: '/Class Symfony\\Component\\HttpKernel\\Event\\GetResponseForExceptionEvent not found\./'
      path: %currentWorkingDirectory%/Tests/EventListener/ConvertNotValidCurrentPageToNotFoundListenerTest.php

    -
      message: '/Class Symfony\\Component\\HttpKernel\\Event\\GetResponseForExceptionEvent not found\./'
      path: %currentWorkingDirectory%/Tests/EventListener/ConvertNotValidMaxPageToNotFoundListenerTest.php

    -
      message: '/Class Symfony\\Component\\Translation\\TranslatorInterface not found\./'
      path: %currentWorkingDirectory%/Tests/View/TranslatedViewTestCase.php

    # Method conditionally used
    -
      message: '/Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder::root\(\)\./'
      path: %currentWorkingDirectory%/DependencyInjection/Configuration.php

    -
      message: '/Call to method (get|set)Exception\(\) on an unknown class Symfony\\Component\\HttpKernel\\Event\\GetResponseForExceptionEvent\./'
      path: %currentWorkingDirectory%/EventListener/ConvertNotValidCurrentPageToNotFoundListener.php

    -
      message: '/Call to method (get|set)Exception\(\) on an unknown class Symfony\\Component\\HttpKernel\\Event\\GetResponseForExceptionEvent\./'
      path: %currentWorkingDirectory%/EventListener/ConvertNotValidMaxPerPageToNotFoundListener.php

    -
      message: '/Call to method trans\(\) on an unknown class Symfony\\Component\\Translation\\TranslatorInterface\./'
      path: %currentWorkingDirectory%/View/TranslatedView.php

    # Unexpected typehint due to compatibility layer
    - '/Parameter \$event of method BabDev\\PagerfantaBundle\\EventListener\\ConvertNotValidCurrentPageToNotFoundListener::onKernelException\(\) has invalid typehint type Symfony\\Component\\HttpKernel\\Event\\GetResponseForExceptionEvent\./'
    - '/Parameter \$event of method BabDev\\PagerfantaBundle\\EventListener\\ConvertNotValidMaxPerPageToNotFoundListener::onKernelException\(\) has invalid typehint type Symfony\\Component\\HttpKernel\\Event\\GetResponseForExceptionEvent\./'
    - '/Property BabDev\\PagerfantaBundle\\View\\TranslatedView::\$translator has unknown class Symfony\\Component\\Translation\\TranslatorInterface as its type\./'
    - '/Property BabDev\\PagerfantaBundle\\Tests\\View\\TranslatedViewTestCase::\$translator has unknown class Symfony\\Component\\Translation\\TranslatorInterface as its type\./'
    - '/Return typehint of method BabDev\\PagerfantaBundle\\Tests\\View\\TranslatedViewTestCase::createTranslatorMock\(\) has invalid type Symfony\\Component\\Translation\\TranslatorInterface\./'
    - '/Method BabDev\\PagerfantaBundle\\Tests\\View\\TranslatedViewTestCase::createTranslatorMock\(\) should return \(PHPUnit\\Framework\\MockObject\\MockObject\&Symfony\\Component\\Translation\\TranslatorInterface\)\|\(PHPUnit\\Framework\\MockObject\\MockObject\&Symfony\\Contracts\\Translation\\TranslatorInterface\) but returns PHPUnit\\Framework\\MockObject\\MockObject\./'

    # Ignore errors from tests validating runtime type checks
    -
      message: '/Parameter #2 \$viewName of method BabDev\\PagerfantaBundle\\Twig\\PagerfantaRuntime::renderPagerfanta\(\) expects array\|string\|null, stdClass given\./'
      path: %currentWorkingDirectory%/Tests/Twig/PagerfantaRuntimeTest.php
    -
      message: '/Parameter #2 \$routeGenerator of method BabDev\\PagerfantaBundle\\View\\TwigView::render\(\) expects callable\(\): mixed, stdClass given\./'
      path: %currentWorkingDirectory%/Tests/View/TwigViewTest.php
    - '/Parameter #1 \$event of method BabDev\\PagerfantaBundle\\EventListener\\ConvertNotValidCurrentPageToNotFoundListener::onKernelException\(\) expects Symfony\\Component\\HttpKernel\\Event\\ExceptionEvent\|Symfony\\Component\\HttpKernel\\Event\\GetResponseForExceptionEvent, Symfony\\Component\\EventDispatcher\\GenericEvent given\./'
    - '/Parameter #1 \$event of method BabDev\\PagerfantaBundle\\EventListener\\ConvertNotValidMaxPerPageToNotFoundListener::onKernelException\(\) expects Symfony\\Component\\HttpKernel\\Event\\ExceptionEvent\|Symfony\\Component\\HttpKernel\\Event\\GetResponseForExceptionEvent, Symfony\\Component\\EventDispatcher\\GenericEvent given\./'

    # Ignore untyped parameters and returns in views
    - '/Method BabDev\\PagerfantaBundle\\View\\(.*) has parameter (.*) with no typehint specified\./'
    - '/Method BabDev\\PagerfantaBundle\\View\\(.*) has no return typehint specified\./'

    # Ignore unchecked error returns
    -
      message: '/Method BabDev\\PagerfantaBundle\\Tests\\Twig\\PagerfantaRuntimeTest::removeWhitespacesBetweenTags\(\) should return string but returns string\|null\./'
      path: %currentWorkingDirectory%/Tests/Twig/PagerfantaRuntimeTest.php

    -
      message: '/Parameter #1 \$path of function dirname expects string, string\|false given\./'
      path: %currentWorkingDirectory%/Tests/View/TwigViewIntegrationTest.php

    -
      message: '/Method BabDev\\PagerfantaBundle\\Tests\\View\\TwigViewIntegrationTest::removeWhitespacesBetweenTags\(\) should return string but returns string\|null\./'
      path: %currentWorkingDirectory%/Tests/View/TwigViewIntegrationTest.php

  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
